{% extends 'base.html' %}

{% block title %}
<title>Schedules</title>
{% endblock %}
{% block content %}

<section class="section" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading dark-bg">
                    <h2>Dance <em>Schedule</em></h2>
                    <img src="assets/images/line-dec.png" alt="">
                    <p>There are shortcuts to happiness, and dance is one of them.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="filters">
                    <ul class="schedule-filter">
                        <li class="active" data-tsfilter="monday">Monday</li>
                        <li data-tsfilter="tuesday">Tuesday</li>
                        <li data-tsfilter="wednesday">Wednesday</li>
                        <li data-tsfilter="thursday">Thursday</li>
                        <li data-tsfilter="friday">Friday</li>
                        <li data-tsfilter="saturday">Saturday</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="schedule-table filtering">
                    <table>
                        <tbody>
                            <tr>
                                <td class="day-time">Contemporary choreography</td>
                                <td class="monday ts-item show" data-tsmeta="monday">9:30AM - 10:30AM</td>
                                <td class="wednesday ts-item" data-tsmeta="wednesday">9:30PM - 10:30PM</td>
                                <td class="friday ts-item" data-tsmeta="friday">9:30PM - 10:30PM</td>
                                <td>Чуба</td>
                            </tr>
                            <tr>
                                <td class="day-time">Hip-Hop, dancehall</td>
                                <td class="tuesday ts-item" data-tsmeta="tuesday">17:30AM - 18:30AM</td>
                                <td class="thursday ts-item" data-tsmeta="thursday">17:00PM - 18:30PM</td>
                                <td class="saturday ts-item" data-tsmeta="saturday">17:00PM - 18:30PM</td>
                                <td>Акуся</td>
                            </tr>
                            <tr>
                                <td class="day-time">Hip-Hop, K-Pop/td>
                                <td class="monday ts-item" data-tsmeta="monday">17:00AM - 18:00AM</td>
                                <td class="wednesday ts-item" data-tsmeta="wednesday">17:00PM - 18:00PM</td>
                                <td class="friday ts-item" data-tsmeta="friday">17:00PM - 18:00PM</td>
                                <td>Ислам</td>
                            </tr>
                            <tr>
                                <td class="day-time">Hip-Hop, dancehall</td>
                                <td class="tuesday ts-item" data-tsmeta="tuesday">16:30AM - 17:30AM</td>
                                <td class="thursday ts-item" data-tsmeta="thursday">16:00PM - 17:30PM</td>
                                <td class="saturday ts-item" data-tsmeta="saturday">16:00PM - 17:30PM</td>
                                <td>Чуба</td>
                            </tr>
                            <tr>
                                <td class="day-time">Contemporary choreography, Hip-Hop</td>
                                <td class="monday ts-item" data-tsmeta="monday">10:00AM - 11:00AM</td>
                                <td class="wednesday ts-item show" data-tsmeta="wednesday">10:00PM - 11:00PM</td>
                                <td class="friday ts-item show" data-tsmeta="friday">10:00PM - 11:00PM</td>
                                <td>Акуся</td>
                            </tr>
                            <tr>
                                <td class="day-time">Tik-Tok, Children's group</td>
                                <td class="tuesday ts-item" data-tsmeta="tuesday">10:00AM - 11:30AM</td>
                                <td class="thursday ts-item" data-tsmeta="thursday">2:00PM - 3:30PM</td>
                                <td class="saturday ts-item" data-tsmeta="saturday">2:00PM - 3:30PM</td>
                                <td>Милана</td>
                            </tr>

                            <tr>
                                <td class="day-time">Contemporary choreography </td>
                                <td class="monday ts-item" data-tsmeta="monday">10:30AM - 11:30AM</td>
                                <td class="wednesday ts-item" data-tsmeta="wednesday">10:30PM - 11:30PM</td>
                                <td class="friday ts-item" data-tsmeta="friday">10:30PM - 11:30PM</td>
                                <td>Мадина</td>
                            </tr>
                            <tr>
                                <td class="day-time">DanceHall</td>
                                <td class="tuesday ts-item" data-tsmeta="tuesday">10:30AM - 11:30AM</td>
                                <td class="thursday ts-item" data-tsmeta="thursday">10:00PM - 11:30PM</td>
                                <td class="saturday ts-item" data-tsmeta="saturday">10:00PM - 11:30PM</td>
                                <td>Алия</td>
                            </tr>
                            <tr>
                                <td class="day-time"> High Heels </td>
                                <td class="monday ts-item" data-tsmeta="monday">19:30AM - 20:30AM</td>
                                <td class="wednesday ts-item" data-tsmeta="wednesday">19:30PM - 20:30PM</td>
                                <td class="friday ts-item" data-tsmeta="friday">19:30PM - 20:30PM</td>
                                <td>Канышай</td>
                            </tr>
                            <tr>
                                <td class="day-time">K-Pop, Hip-Hop(continuing group) </td>
                                <td class="monday ts-item" data-tsmeta="monday">18:30AM - 19:30AM</td>
                                <td class="wednesday ts-item" data-tsmeta="wednesday">18:30PM - 19:30PM</td>
                                <td class="friday ts-item" data-tsmeta="friday">18:30PM - 19:30PM</td>
                                <td>Ислам</td>
                            </tr>
                            <tr>
                                <td class="day-time"> Hip-Hop, dancehall (continuing group) </td>
                                <td class="monday ts-item" data-tsmeta="monday">18:00AM - 19:30AM</td>
                                <td class="wednesday ts-item" data-tsmeta="wednesday">18:00PM - 19:30PM</td>
                                <td class="friday ts-item" data-tsmeta="friday">18:00PM - 19:30PM</td>
                                <td>Чуба</td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}